# Arquivos Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so

# Jupyter Notebook
.ipynb_checkpoints

# Ambientes virtuais
venv/
env/
.env

# IDE
.vscode/
.idea/

# Sistema
.DS_Store
Thumbs.db

# Logs
*.log

# Dados temporários
temp/
tmp/